<h1>See all you have bought!</h1>
<p>You have bought <%= current_user.orders.count %> clothes</p>
<% current_user.orders.each do |order| %>
<h2>Product: <%= link_to order.cloth.name.capitalize, order.cloth %> | Brand: <%= order.cloth.brand.capitalize %> | R$ <%= order.cloth.price1 %> | Quantity: <%= order.quantity %><%=  %></h2>
<% end %>
