<div class="container">
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),tinha uma url aqui olhar no codigo do border-bottom: ; ">
          <%= image_tag "https://source.unsplash.com/random", class: "d-block w-100" %>
          <div class="carousel-content">
            <div class="carousel-caption">
              <h5>Enjoy it!</h5>
              <h1>Buena Onda Delas<h1>
                <br>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),tinha uma url aqui olhar no codigo do bnb">
            <%= image_tag "https://source.unsplash.com/user/erondu", class: "d-block w-100" %>
            <div class="carousel-caption">
              <h5>Enjoy it!</h5>
              <h1>Buena Onda Delas<h1>
                <br>
              </div>
            </div>
            <div class="carousel-item" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),tinha uma url aqui olhar no codigo do bnb">
              <%= image_tag "https://source.unsplash.com/random", class: "d-block w-100" %>
              <div class="carousel-caption">
                <h5>Enjoy it!</h5>
                <h1>Buena Onda Delas<h1>
                  <br>
                </div>
              </div>
              <div class="carousel-item"  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), tinha uma url aqui olhar no codigo do bnb">
                <%= image_tag "https://source.unsplash.com/user/erondu", class: "d-block w-100" %>
                <div class="carousel-caption">
                  <h5>Enjoy it!</h5>
                  <h1>Buena Onda Delas<h1>
                    <br>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true" style="width: 100%; height: 40px;"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true" style="width: 100%; height: 40px;"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

            <div class="container mt-5">
              <div class="row">
                <ul class="cards">
                  <li class="cards__item">
                    <div class="card">
                      <div class="card__image card__image--fence"></div>
                      <div class="card__content">
                        <div class="card__title">
                          <div class="text-center">
                           <p class="a_title"> <%= link_to 'Camisas', root_path %></p>
                         </div>
                       </div>
                       <p class="card__text">This is the shorthand for flex-grow, flex-shrink and flex-basis combined. The second and third parameters (flex-shrink and flex-basis) are optional. Default is 0 1 auto. </p>
                       <button class="btn btn--block card__btn">Confira</button>
                     </div>
                   </div>
                 </li>
                 <li class="cards__item">
                  <div class="card">
                    <div class="card__image card__image--river"></div>
                    <div class="card__content">
                      <div class="card__title">
                        <div class="text-center">
                         <p class="a_title">
                          <%= link_to 'Saias', skirts_path %>
                          </p>
                       </div>
                     </div>
                     <p class="card__text">This defines the ability for a flex item to grow if necessary. It accepts a unitless value that serves as a proportion. It dictates what amount of the available space inside the flex container the item should take up.</p>
                     <button class="btn btn--block card__btn"><%= link_to 'Confira', skirts_path %></button>
                   </div>
                 </div>
               </li>
               <li class="cards__item">
                <div class="card">
                  <div class="card__image card__image--record"></div>
                  <div class="card__content">
                    <div class="card__title">
                      <div class="text-center">
                       <p class="a_title"> <%= link_to 'Calças', root_path %></p>
                     </div>
                   </div>
                   <p class="card__text">This defines the ability for a flex item to shrink if necessary. Negative numbers are invalid.</p>
                   <button class="btn btn-outline-primary">Confira</button>
                 </div>
               </div>
             </li>
           </ul>
         </div>
       </div>
