<h2><%= @skirt.name.upcase %></h2>
<h2><%= @skirt.description %></h2>
<h3><%= @skirt.brand.upcase %></h3>
<h3><%= @skirt.price1 %></h3>
<h3><%= @skirt.category %></h3>
<%= simple_form_for @order, url:skirt_orders_path(@skirt), method: :post  do |f| %>
  <%= f.input :quantity, collection: 1..@skirt.stock, include_blank: false  %>
  <% if @skirt.stock == 0 %>
  <p>Produto esgotado</p>
  <% else %>
  <%= f.submit 'Order', class: 'btn btn-outline-success btn-md' %>
  <% end %>
  <% end %>
<%=link_to 'Return to all skirts', skirts_path  %>
