<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(//cdn.shopify.com/s/files/1/0167/4484/collections/womens-header1_3000x.progressive.jpg?v=1561065119);">
  <div class="container-banner">
    <%= render 'shared/navbar-intern' %>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
<div class="container">
  <div class="content-wrapper">
    <div class="row">
      <%= @cloths.each do |cloth| %>
      <%= link_to cloth_path(cloth) do %>
      <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
        <div class="card-photo-w-100">
          <%= image_tag "https://img.lojasrenner.com.br/item/548719715/medium/9.jpg", class: "front-d-block-w-100", style: "height: 371px; width: 299px; background-size: cover;" %>
          <%= image_tag "https://img.lojasrenner.com.br/item/548719715/medium/1.jpg", class: "back-d-block-w-100", style: "height: 371px; width: 299px; background-size: cover;" %>
        </div>
        <div class="card-body">
          <p class="card-text">
            <p class="p-brand"><%= cloth.brand.capitalize %></p>
            <p class="p-name"><%= cloth.name.capitalize %></p>
            <% end %>
            <p>INDEXXXX</p>
            <p><%= cloth.stock %></p>
            <div class="row">
              <% if cloth.price2.nil? == false %>
              <p class="price1">R$ <%= cloth.price1 %></p>
              <p class="price2">R$ <%= cloth.price2 %></p>
              <% else %>
              <p class="price1-normal">R$ <%= cloth.price1 %></p>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

