<h1>Hello!</h1>
<br>
<br>
<br>
<p>Resultado da pesquisa :</p>
<%= @cloths.each do |cloth| %>
<%= link_to cloth_path(cloth) do %>
<h1><%= cloth.name %></h1>
<% end %>
<h2><%= cloth.brand %></h2>
<h3>R$ <%= cloth.price1 %></h3>
<% end %>



  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <%= @skirts.each do |skirt| %>

    <%= link_to skirt_path(skirt) do %>
    <h1><%= skirt.name %></h1>
    <% end %>
    <h2><%= skirt.price1 %></h2>
    <% end %>
  </div>
