<h2><%= @cloth.name.upcase %></h2>
<h2><%= @cloth.description %></h2>
<h3><%= @cloth.brand.upcase %></h3>
<h3><%= @cloth.price1 %></h3>
<%= render 'cloths/new_order', cloth: @cloth, order: @order %>
<%=link_to 'Return to all cloths', cloths_path  %>
